<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          #title="ngModel"
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="book.title"
          name="title"
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>

      <div class="form-group">
        <label for="genre">Genre</label>
        <input
          #genre="ngModel"
          class="form-control"
          id="genre"
          required
          [(ngModel)]="book.genre"
          name="genre"
        />
        <div class="alert alert-danger" *ngIf="genre.touched && genre.invalid">
          Genre is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          #description="ngModel"
          class="form-control"
          id="description"
          required
          [(ngModel)]="book.description"
          name="description"
        />
        <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
          Description is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <!-- <span class="input-group-addon">
          ₹
        </span> -->
        <input
          #price="ngModel"
          type="number"
          class="form-control"
          id="price"
          required
          [(ngModel)]="book.price"
          name="price"
          [min]="0"
        />
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required</div>
          <div *ngIf="price.errors.min">Price should be 0 or higher</div>
        </div>
      </div>

      <div class="form-group">
        <label for="poster">Poster</label><br>
        <input type="file">
      </div>

      <button (click)="saveBook()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newBook()">Add</button>
    </div>
  </div>
</div>
